<layout-use('../layout.marko')>
  <layout-put into="title">${data.context.title} :: Drew Schrauf</layout-put>

  <layout-put into="header">
      <h1>${data.context.title}</h1>
      <span class="post-date">${data.context.date.format('Do MMM YYYY')}</span>
  </layout-put>

  <layout-put into="body">
    <div class="post">
      $!{data.context.content}
    </div>
  </layout-put>
</layout-use>
