@value background, text, primary, secondary, tertiary from './colors.css';

.post-preview {
  padding-bottom: 15px;
}

.post-preview:not(:last-of-type) {
  border-bottom: 1px solid secondary;
}

.post img {
  width: 100%;
  cursor: pointer;
}

@media (min-width: 992px) {
  .post img {
    padding-left: 15%;
    padding-right: 15%;
  }
}
