@value background, text, primary, secondary, tertiary from './colors.css';
@import url(./outline.css);
@import url(./post.css);

pre, code, .hljs {
  background-color: secondary;
  color: text;
}

.lang-javascript {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

a, a:hover, a:focus {
  color: primary;
}

::selection {
  background: tertiary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: tertiary; /* Gecko Browsers */
}
