<layout-use('../layout.marko')>
  <layout-put into="header">
      <h1>Drew Schrauf</h1>
      <p>
        I'm a web developer from Sydney, Australia with a passion for Javascript everywhere.
      </p>
  </layout-put>

  <layout-put into="body">
    <div class="recent-posts">
      <h2>Recent Posts</h2>
      <blog-posts var="posts">
        <post-preview for(post in posts) post="${post}"/>
      </blog-posts>
    </div>
  </layout-put>
</layout-use>
